<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${pageTitle}"></title>
  <th:block th:replace="~{admin/layouts/_header::link-css}"></th:block>
</head>
<body>
<div th:replace="~{admin/layouts/_header :: header}"></div>
<div class="content-wrapper">
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Thông tin thêm mới Sản phẩm</h3>
      </div>
      <div class="card-body">
        <form action="/admin/news/add" method="post" enctype="multipart/form-data">
          <div class="card">
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="activity">
                  <div class="form-group">
                    <label for="title">Tiêu đề</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Tiêu đề" required>
                  </div>

                  <div class="form-group">
                    <label for="productCategoryId">Loại sản phẩm</label>
                    <select id="productCategoryId" name="productCategoryId" class="form-control" required>
                      <option value="">-- Chọn loại sản phẩm --</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="supplierId">Nhà cung cấp</label>
                    <select id="supplierId" name="supplierId" class="form-control" required>
                      <option value="">-- Chọn nhà cung cấp --</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="image">Ảnh đại diện</label>
                    <input type="file" id="image" name="image" class="form-control-file">
                    <input type="hidden" id="imagePath" name="imagePath">
                  </div>

                  <div class="form-group">
                    <label for="description">Mô tả</label>
                    <input type="text" id="description" name="description" class="form-control" placeholder="Mô tả" required>
                  </div>

                  <div class="form-group">
                    <label for="detail">Chi tiết sản phẩm</label>
                    <textarea id="detail" name="detail" class="form-control" rows="4" placeholder="Chi tiết sản phẩm" required></textarea>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <label for="quantity">Số lượng</label>
                        <input type="number" name="quantity" id="quantity" value="0" class="form-control auto" data-a-dec="." data-a-sep=",">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label for="price">Giá</label>
                        <input type="number" name="price" id="price" value="0" class="form-control auto" data-a-dec="." data-a-sep=",">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label for="priceSale">Giá khuyến mại</label>
                        <input type="number" name="priceSale" id="priceSale" value="0" class="form-control auto" data-a-dec="." data-a-sep=",">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label for="originalPrice">Giá nhập</label>
                        <input type="number" name="originalPrice" id="originalPrice" value="0" class="form-control auto" data-a-dec="." data-a-sep=",">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="row">
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="home" name="home" class="custom-control-input">
                            <label for="home" class="custom-control-label">Hiển thị</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="hot" name="hot" class="custom-control-input">
                            <label for="hot" class="custom-control-label">Nổi bật</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="sale" name="sale" class="custom-control-input">
                            <label for="sale" class="custom-control-label">Khuyến mãi</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Thêm mới</button>
            <a href="/admin/product" class="btn btn-danger">Quay lại</a>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<div th:replace="~{admin/layouts/_footer :: footer}"></div>
<script>
  $(document).ready(function () {
    // Gọi API để lấy danh sách chủ đề tin tức
    $.ajax({
      url: 'http://localhost:2009/api/product-categories/getAll',
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        // Xử lý dữ liệu nhận được
        if (data && data.length > 0) {
          // Lặp qua danh sách chủ đề tin tức và thêm vào dropdown
          var dropdown = $('#productCategoryId');
          dropdown.empty();
          $.each(data, function (index, category) {
            dropdown.append($('<option></option>').attr('value', category.id).text(category.title));
          });
        }
      },
      error: function () {
        // Xử lý khi gặp lỗi
        alert('Không thể lấy danh sách chủ đề tin tức từ API.');
      },
    });
  $.ajax({
      url: 'http://localhost:2009/api/suppliers/getAll',
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        // Xử lý dữ liệu nhận được
        if (data && data.length > 0) {
          // Lặp qua danh sách chủ đề tin tức và thêm vào dropdown
          var dropdown = $('#supplierId');
          dropdown.empty();
          $.each(data, function (index, category) {
            dropdown.append($('<option></option>').attr('value', category.id).text(category.title));
          });
        }
      },
      error: function () {
        // Xử lý khi gặp lỗi
        alert('Không thể lấy danh sách chủ đề tin tức từ API.');
      },
    });
    // Xử lý sự kiện submit form
    $('form').submit(function (event) {
      event.preventDefault(); // Ngăn chặn việc gửi form mặc định

      // Lấy dữ liệu từ form
      var title = $('#title').val();
      var productCategoryId = $('#productCategoryId').val();
      var supplierId = $('#supplierId').val();
      var image = $('#image')[0].files[0];
      var description = $('#description').val();
      var detail = CKEDITOR.instances.detail.getData();
      var home = $('#home').is(':checked');
      var hot = $('#hot').is(':checked');
      var sale = $('#sale').is(':checked');
      var originalPrice = $('#originalPrice').val();
      var price = $('#price').val();
      var priceSale = $('#priceSale').val();
      var quantity = $('#quantity').val();


      // Tạo đối tượng FormData để gửi dữ liệu
      var formData = new FormData();
      formData.append('title', title);
      formData.append('productCategoryId', productCategoryId);
      formData.append('supplierId', supplierId);
      formData.append('description', description);
      formData.append('detail', detail);
      formData.append('home', home);
      formData.append('hot', hot);
      formData.append('sale', sale);
      formData.append('quantity', quantity);
      formData.append('originalPrice', originalPrice);
      formData.append('price', price);
      formData.append('priceSale', priceSale);
      // Gửi Ajax request
      uploadImage(image, function (imagePath) {
        // Tạo đối tượng NewsDto với đường dẫn ảnh
        var newsDto = {
          id: 0,
          title: title,
          description: description,
          detail: detail,
          image: imagePath,
          home: home,
          sale: sale,
          hot: hot,
          isActivate: false,
          productCategoryId: parseInt(productCategoryId),
          supplierId: parseInt(supplierId),
          originalPrice: originalPrice,
          price: price,
          priceSale: priceSale,
          quantity: quantity,
        };

        // Gửi Ajax request để thêm tin tức
        $.ajax({
          url: 'http://localhost:2009/api/products/add',
          type: 'POST',
          data: JSON.stringify(newsDto),
          contentType: 'application/json',
          success: function (response) {
            // Xử lý khi thành công
            alert('Thêm sản phẩm thành công!');
          },
          error: function (xhr, status, error) {
            // Xử lý khi gặp lỗi
            alert('Lỗi khi thêm sản phẩm: ' + error);
          },
        });
      });
    });


    // Khởi tạo CKEditor
    CKEDITOR.replace('detail', {
      customConfig: '/content/ckeditor/config.js',
      extraAllowedContent: 'span',
    });
  });

  function uploadImage(image, callback) {
    var formData = new FormData();
    formData.append('image', image);

    $.ajax({
      url: '/admin/upload', // Đường dẫn tới endpoint của ứng dụng để xử lý yêu cầu tải lên hình ảnh
      type: 'POST',
      data: formData,
      contentType: false,
      processData: false,
      success: function (response) {
        // Gọi callback và truyền đường dẫn hình ảnh đã được tải lên
        callback(response);
      },
      error: function (xhr, status, error) {
        console.log('Lỗi khi tải lên hình ảnh: ' + error);
      },
    });
  }
</script>
</body>
</html>
