<footer th:fragment="footer" class="main-footer" xmlns:th="http://www.thymeleaf.org">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.2.0-rc
    </div>
    <strong>&copy; 2014-2023 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.

    <script th:src="@{/Content/users/js/jquery.min.js}"></script>
    <script th:src="@{/Content/users/js/bootstrap.min.js}"></script>
    <!-- menu js -->
    <script th:src="@{/Content/users/js/menumaker.js}"></script>
    <!-- wow animation -->
    <script th:src="@{/Content/users/js/wow.js}"></script>
    <!-- custom js -->
    <script th:src="@{/Content/users/js/custom.js}"></script>
    <!-- revolution js files -->
    <script th:src="@{/Content/users/revolution/js/jquery.themepunch.tools.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/jquery.themepunch.revolution.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.actions.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.carousel.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.kenburn.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.layeranimation.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.migration.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.parallax.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.video.min.js}"></script>
    <script th:src="@{/Content/users/revolution/js/extensions/revolution.extension.navigation.min.js}"></script>
    <!-- Banner js files -->
    <script th:src="@{/Content/users/banner/vendor/slick/slick.min.js}"></script>
    <script th:src="@{/Content/users/banner/js/slick-custom.js}"></script>
    <!-- shoppingCart js files -->
    <script th:src="@{/Scripts/jsShopping.js}"></script>
    <!-- Account js -->
    <script th:src="@{/Content/login/js/accountShow.js}"></script>
    <!-- Cart js -->
    <script th:src="@{/Content/users/CartShow.js}"></script>
    <!-- Mess js -->
    <script th:src="@{/Content/users/MessShow.js}"></script>
    <!-- Check input js -->
    <script th:src="@{/Content/users/mainCheck.js}"></script>
    <script th:src="@{/Content/users/contact.js}"></script>
    <!-- Loading cart js -->
    <script th:src="@{/Content/users/checkOutCart.js}"></script>

</footer>