<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <th:block th:replace="~{user/layouts/_header::link-css}"></th:block>
</head>

<body>
<div th:replace="~{user/layouts/_header :: header}"></div>

<div class="content-wrapper">
    <div class="container">
        <h1>Quản lý Sản phẩm</h1>

        <form id="searchForm" method="get">
            <div class="form-group">
                <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm tin tức">
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
        <table id="newsTable" class="table table-hover">
            <thead>
            <tr>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Loại sản phẩm</th>
                <th>Nhà cung cấp</th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div class="row">
            <div class="col-6"></div>
            <div class="col-6" style="text-align: right;">
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{user/layouts/_footer :: footer}"></div>

<script>
    $(document).ready(function () {
        var currentPage = 1;

        function loadNews(pageNumber = 1, searchString = "") {
            $.ajax({
                url: 'http://localhost:2009/api/products/paginate',
                type: 'GET',
                data: {
                    page: pageNumber,
                    searchString: searchString,
                    isActivate: false
                },
                success: function (response) {
                    var news = response.data;
                    var totalPages = response.totalPages;
                    var tableBody = $('#newsTable tbody');
                    tableBody.empty();

                    if (news.length > 0) {
                        var i = ((pageNumber - 1) * 10) + 1;
                        news.forEach(function (item) {
                            var row = $('<tr id="trow_'+item.id+'">');
                            row.append('<td><img class="img-thumbnail" src="/images/' + item.image + '" alt="Hình ảnh" width="100"></td>');
                            row.append('<td>' + item.title + '</td>');
                            row.append('<td id="category_' + item.id + '"></td>');
                            row.append('<td id="supplier_' + item.id + '"></td>');
                            row.append('<td>' +
                                '<a style="margin-right:5px;" href="" class="btn btn-sm btn-primary" >Thêm vào giỏ hàng</a>' +
                                '</td>');
                                tableBody.append(row);
                            i++;

                            // Gọi API để lấy tên của category
                            $.ajax({
                                url: 'http://localhost:2009/api/product-categories/' + item.productCategoryId,
                                type: 'GET',
                                success: function (response) {
                                    var categoryName = response.title;
                                    $('#category_' + item.id).text(categoryName);
                                },
                                error: function (xhr, textStatus, error) {
                                    console.log(xhr.responseText);
                                }
                            });
                            // Gọi API để lấy tên của category
                            $.ajax({
                                url: 'http://localhost:2009/api/suppliers/' + item.supplierId,
                                type: 'GET',
                                success: function (response) {
                                    var categoryName = response.title;
                                    $('#supplier_' + item.id).text(categoryName);
                                },
                                error: function (xhr, textStatus, error) {
                                    console.log(xhr.responseText);
                                }
                            });
                        });
                    } else {
                        tableBody.append('<tr><td colspan="10" class="text-center">Không tìm thấy tin tức nào.</td></tr>');
                    }

                    updatePagination(totalPages, pageNumber, searchString);
                },
                error: function (xhr, textStatus, error) {
                    console.log(xhr.responseText);
                }
            });
        }
        function updatePagination(totalPages, currentPage, searchString) {
            var pagination = $('#pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var pageLink = $('<li class="page-item">');
                if (i === currentPage) {
                    pageLink.addClass('active');
                }
                pageLink.append('<a class="page-link" href="#">' + i + '</a>');
                pagination.append(pageLink);
            }

            // Lắng nghe sự kiện click trên các liên kết phân trang
            pagination.find('.page-link').click(function(e) {
                e.preventDefault();
                var pageNumber = parseInt($(this).text());
                loadNews(pageNumber, searchString);
            });
        }
    $('#searchForm').submit(function (e) {
                e.preventDefault();
                var searchString = $('input[name="searchString"]').val();
                loadNews(1, searchString);
            });


        loadNews(currentPage);
    });
</script>
</body>
</html>
